In [14]:
import warnings
warnings.filterwarnings("ignore")

import yfinance as yf
import pandas as pd
from datetime import datetime

In [15]:
tickers=["HDFCBANK.NS","SBIN.NS","ICICIBANK.NS"]

In [16]:
start_date=datetime(2023,1,1)
end_date=datetime(2025,1,30)

In [17]:
all_history=[] 

for t in tickers:    
    df=yf.Ticker(t).history(start=start_date,end=end_date) 
    df=df[["Open","Close","High","Low","Volume"]]
    df["Ticker"]=t
    all_history.append(df)
historical_df=pd.concat(all_history)
historical_df

,Open,Close,High,Low,Volume,Ticker
Date,,,,,,
2023-01-02 00:00:00+05:30,782.859956,783.677917,788.994845,778.794112,4381378,HDFCBANK.NS
2023-01-03 00:00:00+05:30,780.550329,788.802368,790.558642,780.550329,8378030,HDFCBANK.NS
2023-01-04 00:00:00+05:30,786.709275,774.704163,791.881828,773.236577,10351600,HDFCBANK.NS
2023-01-05 00:00:00+05:30,777.085889,769.723999,778.553474,764.768007,10941436,HDFCBANK.NS
2023-01-06 00:00:00+05:30,770.830752,767.173889,774.247032,759.378936,9092462,HDFCBANK.NS
...,...,...,...,...,...,...
2025-01-23 00:00:00+05:30,1188.082674,1192.548218,1198.651152,1176.918815,8770650,ICICIBANK.NS
2025-01-24 00:00:00+05:30,1193.887894,1199.941162,1208.673829,1192.796341,9216792,ICICIBANK.NS
2025-01-27 00:00:00+05:30,1185.849952,1218.547607,1225.196379,1183.964476,16164687,ICICIBANK.NS
2025-01-28 00:00:00+05:30,1237.799045,1237.352539,1254.321581,1226.535976,18066499,ICICIBANK.NS
2025-01-29 00:00:00+05:30,1242.413458,1242.066162,1246.184410,1233.532036,7666777,ICICIBANK.NS

In [18]:
historical_df.reset_index(inplace=True)
historical_df

,Date,Open,Close,High,Low,Volume,Ticker
0,2023-01-02 00:00:00+05:30,782.859956,783.677917,788.994845,778.794112,4381378,HDFCBANK.NS
1,2023-01-03 00:00:00+05:30,780.550329,788.802368,790.558642,780.550329,8378030,HDFCBANK.NS
2,2023-01-04 00:00:00+05:30,786.709275,774.704163,791.881828,773.236577,10351600,HDFCBANK.NS
3,2023-01-05 00:00:00+05:30,777.085889,769.723999,778.553474,764.768007,10941436,HDFCBANK.NS
4,2023-01-06 00:00:00+05:30,770.830752,767.173889,774.247032,759.378936,9092462,HDFCBANK.NS
...,...,...,...,...,...,...,...
1531,2025-01-23 00:00:00+05:30,1188.082674,1192.548218,1198.651152,1176.918815,8770650,ICICIBANK.NS
1532,2025-01-24 00:00:00+05:30,1193.887894,1199.941162,1208.673829,1192.796341,9216792,ICICIBANK.NS
1533,2025-01-27 00:00:00+05:30,1185.849952,1218.547607,1225.196379,1183.964476,16164687,ICICIBANK.NS
1534,2025-01-28 00:00:00+05:30,1237.799045,1237.352539,1254.321581,1226.535976,18066499,ICICIBANK.NS
1535,2025-01-29 00:00:00+05:30,1242.413458,1242.066162,1246.184410,1233.532036,7666777,ICICIBANK.NS

In [20]:
data=pd.DataFrame(historical_df)
data

,Date,Open,Close,High,Low,Volume,Ticker
0,2023-01-02 00:00:00+05:30,782.859956,783.677917,788.994845,778.794112,4381378,HDFCBANK.NS
1,2023-01-03 00:00:00+05:30,780.550329,788.802368,790.558642,780.550329,8378030,HDFCBANK.NS
2,2023-01-04 00:00:00+05:30,786.709275,774.704163,791.881828,773.236577,10351600,HDFCBANK.NS
3,2023-01-05 00:00:00+05:30,777.085889,769.723999,778.553474,764.768007,10941436,HDFCBANK.NS
4,2023-01-06 00:00:00+05:30,770.830752,767.173889,774.247032,759.378936,9092462,HDFCBANK.NS
...,...,...,...,...,...,...,...
1531,2025-01-23 00:00:00+05:30,1188.082674,1192.548218,1198.651152,1176.918815,8770650,ICICIBANK.NS
1532,2025-01-24 00:00:00+05:30,1193.887894,1199.941162,1208.673829,1192.796341,9216792,ICICIBANK.NS
1533,2025-01-27 00:00:00+05:30,1185.849952,1218.547607,1225.196379,1183.964476,16164687,ICICIBANK.NS
1534,2025-01-28 00:00:00+05:30,1237.799045,1237.352539,1254.321581,1226.535976,18066499,ICICIBANK.NS
1535,2025-01-29 00:00:00+05:30,1242.413458,1242.066162,1246.184410,1233.532036,7666777,ICICIBANK.NS

In [21]:
data["Date"]=pd.to_datetime(data["Date"]).dt.date

In [22]:
data.to_excel(r"C:\Users\DELL\OneDrive\Desktop\KPMG\su kpmg.xlsx")